body {
  padding: 20px;
}
.nextButtonContainer{

  text-align: right;
  padding: 10px;
}

.card{
  margin-bottom: 20px;
}

.utterance-box{
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-control::-moz-placeholder {
  color: #cccccc;
  font-style: italic;
}
.form-control:-ms-input-placeholder {
  font-style: italic;
  color: #cccccc;
}
.form-control::-webkit-input-placeholder {
  color: #cccccc;
  font-style: italic;
}

#banner{
  width: 75%;
  margin-bottom: 20px;
}
